# Go
qr-auth

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

qr-auth.apk
*.idsig
